/* -------------------------------- variables ------------------------------- */

// primary colors

$intro_bg: hsl(217, 28%, 15%);
$main_bg: hsl(218, 28%, 13%);
$footer_bg: hsl(216, 53%, 9%);
$testimonials_bg: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$error_cl: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);
$white-20: hsl(0, 0%, 80%);

// fonts

$ralway: 'Raleway', sans-serif;
$open_sans: 'Open Sans', sans-serif;

// break point
$sm: 576px; $md: 768px; $lg: 992px; $xl: 1200px; $xxl: 1400px;
