/* -------------------------------- variables ------------------------------- */
/* -------------------------------- sections -------------------------------- */
/* -------------------------------- variables ------------------------------- */
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: hsl(217deg, 28%, 15%);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 2.5rem;
}
@media (max-width: 768px) {
  .container {
    padding: 0 1.3rem;
  }
}

header {
  position: fixed;
  top: 0.4rem;
  width: 100%;
  padding-top: 2rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
header .container .logo {
  width: 6rem;
}
header .container .logo img {
  width: 100%;
}
header .container .nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header .container .nav_items > * {
  color: hsl(0deg, 0%, 80%);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}
header .container .nav_items > *:hover {
  color: hsl(0deg, 0%, 100%);
  border-bottom: 0.1rem solid hsl(0deg, 0%, 100%);
  cursor: pointer;
}

/* -------------------------------- variables ------------------------------- */
main {
  padding-top: 7rem;
  font-family: "Raleway", sans-serif;
  background-image: url("../../images/bg-curvy-desktop.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  color: hsl(0deg, 0%, 100%);
  font-size: 14px;
}
main .intro {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
main .intro__img {
  width: 50%;
}
main .intro__img img {
  width: 100%;
}
@media (min-width: 768px) {
  main .intro__text {
    width: 60%;
  }
}
main .intro__text h1 {
  margin-bottom: 1rem;
  font-size: 1.85rem;
}
@media (max-width: 576px) {
  main .intro__text h1 {
    font-size: 1.5rem;
  }
}
main .intro__text p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
@media (max-width: 768px) {
  main .intro__text p {
    font-size: 0.9rem;
  }
}
main .intro__text .btn-start {
  background-color: hsl(198deg, 60%, 50%);
}
main .intro__text .btn-start:hover {
  background-color: hsl(176deg, 68%, 64%);
}
main .services {
  display: grid;
  grid-template-columns: 250px;
  width: 100%;
  margin-top: 3rem;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  main .services {
    grid-template-columns: repeat(2, 280px);
  }
}
main .services .service {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
main .services .service__img {
  width: 4rem;
  height: 4rem;
  position: relative;
}
main .services .service__img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .services .service__description h1 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}
main .services .service__description p {
  margin-top: 0;
  font-size: 0.7rem;
  line-height: 1.2rem;
}
main .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}
@media (max-width: 768px) {
  main .about {
    flex-direction: column;
  }
}
main .about > * {
  width: 50%;
}
@media (max-width: 768px) {
  main .about > * {
    text-align: center;
    width: 100%;
  }
}
main .about__img img {
  width: 100%;
}
main .about__description h1 {
  font-size: 1.7rem;
  margin-bottom: 0;
}
main .about__description p {
  line-height: 1.3rem;
}
main .about__description a {
  color: hsl(0deg, 0%, 100%);
  font-size: 0.9rem;
  transition: 0.3s;
}
main .about__description a:hover {
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/* ------------------------------- components ------------------------------- */
/* -------------------------------- variables ------------------------------- */
.btn {
  padding: 0.4rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 6rem;
  border: none;
  color: hsl(0deg, 0%, 100%);
  transition: 0.3s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
